*{
    box-sizing: border-box;
}

body{
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 700px;
}
.square{
    width: 20px;
    height: 20px;
    background: #1d1d1d;
    margin: 2px;
    box-shadow: 0 0 2px #000;
    transition: 2s ease;
}
.square-transform{
    transform: rotate(180deg);
}
.square:hover{
    transition-duration: 0s;
}
